.buttonLabels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img {
    width: 310px;
    height: 650px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.desc {
    text-align: center;
    background-color: #003087;
    color: white;
}

.statLabel {
    padding-left: 500px;
    padding-right: 500px;
}

.socBut {
    width: fit-content;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    background-color: #e33939;
}

.statBut {
    width: fit-content;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
}

.histBut {
    width: fit-content;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    background-color: #397ae3;
}

.bioFormat {
    text-align: center;
    font-size: 18px;
    margin: auto;
    width: 500px;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    background-color: gray;
}

.socialLabels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    
}

.socialButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.socialFormatting {
    background-color: turquoise;
    text-align: center;
}

.returnBtn {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.earlyForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.earlyText {
    border: solid;
    width: 500px;
    padding: 12px 12px 12px 12px;
    color: black;
    background-color: lightcoral;
}

.collegeForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.collegeText {
    border: solid;
    width: 500px;
    padding: 12px 12px 12px 12px;
    color: black;
    background-color: lightsalmon;
}

.minorsForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.minorsText {
    border: solid;
    width: 500px;
    padding: 12px 12px 12px 12px;
    color: black;
    background-color: lightgreen;
}

.majorsForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.majorsText {
    border: solid;
    width: 500px;
    padding: 12px 12px 12px 12px;
    color: black;
    background-color: lightskyblue;
}

.format2016 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    border: solid;
    width: 500px;
    padding: 12px 12px 12px 12px;
    color: black;
    background-color: lightcoral;
}

.format2017 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    border: solid;
    width: 500px;
    padding: 12px 12px 12px 12px;
    color: black;
    background-color: lightsalmon;
}

.format2018 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    border: solid;
    width: 500px;
    padding: 12px 12px 12px 12px;
    color: black;
    background-color: lightyellow;
}

.format2019 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    border: solid;
    width: 500px;
    padding: 12px 12px 12px 12px;
    color: black;
    background-color: lightgreen;
}

.format2020 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    border: solid;
    width: 500px;
    padding: 12px 12px 12px 12px;
    color: black;
    background-color: lightskyblue;
}

.format2021 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    border: solid;
    width: 500px;
    padding: 12px 12px 12px 12px;
    color: black;
    background-color: violet;
}

.format2022 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    border: solid;
    width: 500px;
    padding: 12px 12px 12px 12px;
    color: black;
    background-color: lightpink;
}

.img2 {
    width: 300px;
    height: 200px;
}

.img4 {
    width: 200px;
    height: 200px;
}

img:hover {
    transform: scale(1.05);
}