.buttonLabels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

img {
    width: 310px;
    height: 650px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.desc {
    text-align: center;
    background-color: #003087;
    color: white;
}

.socBut {
    width: fit-content;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    background-color: #e33939;
}

.statBut {
    width: fit-content;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    background-color: white;
}

.histBut {
    width: fit-content;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    background-color: #397ae3;
}

img:hover {
    transform: scale(1.05);
}