.buttonLabels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img {
    width: 310px;
    height: 650px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.desc {
    text-align: center;
    background-color: #003087;
    color: white;
}

.statLabel {
    padding-left: 500px;
    padding-right: 500px;
}

.socBut {
    width: fit-content;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    background-color: #e33939;
}

.statBut {
    width: fit-content;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
}

.histBut {
    width: fit-content;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    background-color: #397ae3;
}

.bioFormat {
    text-align: center;
    font-size: 18px;
    margin: auto;
    width: 500px;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    background-color: gray;
}

.socialLabels {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socialButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socialFormatting {
    background-color: turquoise;
    text-align: center;
}

img:hover {
    transform: scale(1.05);
}